@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0;
}

.radial-bg {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(14, 98, 191, 1) 3%,
    rgba(12, 76, 147, 1) 11%,
    rgba(3, 7, 18, 1) 42%
  );
}
